.art_sec{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15vh;
    .art_nav{
        height: 20%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        .btn_all{
            width: 50%;
            height: 100%;
            background-color: #0D0D0E;
            border: none;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            div{
                width: 50%;
                height: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                font-size: 18px;
                .btn_view{
                color: rgba(212, 0, 179, 1);
            }
            }
            
        }
        .btn_all.active{
            background-color: rgba(38, 38, 39, 1);
        }
        .btn_popular{
            width: 50%;
            height: 100%;
            background-color: #0D0D0E;
            border: none;
            color: white;
            font-size: 52px;
        }
        .btn_popular.active{
            background-color: rgba(38, 38, 39, 1);
        }
    }
    .art_div{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        background-color: #262627;;
        .art_ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 90%;
            width: 80%;
            li{
                height: 65%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items:  center ;
                position: relative;
                h5{
                    font-size: 32px;
                }
                button{
                    background-color: rgba(212, 0, 179, 1);
                    height: 40px;
                    width: 143px;
                    color: white;
                    font-size: 26px;
                    border: none;
                }
                .profile_pic{
                    position: absolute;
                    top: 38%;
                    display: flex;
                    z-index: 1;
                    align-self: center;
                    width: 100px;
                    height: 100px;
                }
                .bg_pic{
                    display: flex;
                    position: relative;
                    z-index: 0;
                }
            }
        }
    }
}