footer{
    width: 80%;
    height: 17vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .top_footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 40%;
        .nav_footer{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 30%;
            ul{
                 display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 70%;
                 li a{
            color: white;
            text-decoration: none;
        }
            }
        }
        .contacts{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 10%;
            li{
                background-color: rgba(196, 196, 196, 0.2);
                width: 46px;
                height: 46px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .create_line_footer{
        width: 100%;
        height: 1px;
        background-color: rgba(229, 229, 229, 0.3);
    }
    .bottom_footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 40%;
        width: 60%;
    }
}