

.headerheader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    width: 80%;
    height: 10vh;
    align-items: center;
    position: absolute;
    z-index: 1;    

    nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;

    ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;    
    
    li a{
        color: white;
        text-decoration: none;
    }
    }


    }



    nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;        
    }

    button{
    width: 215px;
    height: 40px;
    background-color: #D400B3;
    color: white;
    font-size: 24px;
    border: none;
    }
}

.logo{
    width: 60px;
    height: 60px;
}