.Verysection{
    background-color: #262627;
    height: 490px;
    width: 1920px;
    display: flex;
    align-items: center;
    justify-content: center;
    div{
        width: 80%;
        height: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .verytext{
            font-size: 20px;
            width: 448px;
            line-height: 32px;
            letter-spacing: 1px;
            font-weight: 400;
        }
        ul{
            width: 40%;
            height: 20%;
             display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            li{
                text-align: center;
                h3{
                    font-size: 56px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }
}